<!DOCTYPE html>

<html>
<head>
	<title>Strain Suggester</title>
</head>
<body>
	<center>
	<h1 style="border-radius: 50px;
	background: #3a6320; padding: 3px; width: 400px;
	height: 50px;line-height:150%;">Marijuana Strain Suggester</h1>
	</center>


 	<!-- big 'ol weedy background image -->

<style>
		body {background-color: #000000;
		background-image: url("https://images.fineartamerica.com/images-medium-large-5/marijuana-cannabis-weed-leaf-seamless-pattern-wallpaper-background-green-cnuisin.jpg");
		background-repeat: repeat;
		background-attachment: fixed;
		background-position: center;
		margin-right: 200px;
		background-size: 50%;
		}
</style>



	<form action="/submit">
	<center>
		<p><label for=strain></label><br><input type='string' name=Strain style="width: 100px; height: 25px; background-color:gainsboro;"></p>
		<p><button type="submit">Submit</button></p>
	<center>
	</form>
</body>
</html>
