<!DOCTYPE html>
<html>
<head>
	<Title>
		Strains similar to {{user_input}}
	</Title>

</head>
<body>

<h1>
	<center>{{output|safe}}<center>
		<h1>


 	<!-- big 'ol weedy background image, the sequel -->

<!--<style>-->
<!--		body {background-color: #000000;-->
<!--		background-image: url("https://render.fineartamerica.com/images/rendered/default/print/6.625/8.000/break/images-medium-5/marijuana-leaf-on-white-background-maren-caruso.jpg");-->
<!--		background-repeat: repeat;-->
<!--		background-attachment: fixed;-->
<!--		background-position: center;-->
<!--		margin-right: 200px;-->
<!--		background-size: 25%;-->
<!--		}-->

<!--</style>-->



</body>

<h5>
	<center>These suggestions are based on an unsupervised machine learning algorithm, not human testing.</center>
</h5>

</html>
